<div class="col-sm-6 col-lg-6" style="font-size: 25px;">
    <div style="position: relative; border-bottom: solid 1px #2b2b2b; padding: 0px 0px 40px 0px; margin-top: 50px;">
        <p style="font-size: 50px; font-weight: normal; line-height: 0px;">Laura </p>
        <span class="parentPlus expand laura" style="position: absolute; right: 0px;"><a class="plusMin"></a></span>
    </div>
    <p class="hide LauraCopy" >
        Laura Bauers is a registered architect who has been practicing for over 10 years. She has experience in a wide array of typologies including healthcare, labs, academic, adaptive reuse, corporate, residential, and hospitality. She is both an optimist and a skeptic. She will buy the occasional Power Ball ticket, but needs peer reviewed evidence for everything else. 
        <br><br>
        Education: University of Missouri - Columbia
        BA in English; Minor in Environmental Design
        <br><br>
        Washington University in St. Louis; Master of Architecture
        <br><br>
        Experience:
        Hufft Project, Kansas City, MO
        January 2018- September 2014
        <br><br>
        Voith and Mactavish Architects, Philadelphia, PA
        August 2014- February 2013
        <br><br>
        Ballinger, Philadelphia, PA
        February 2013 - August 2009
        <br><br>
        Cannon Design, St. Louis, MO
        July 2009 - June 2008</p>
</div>