<div class="row" style="background-color: #ded9d3;">
    {% for each in section.project_ %}
        <div class="
        {{each.column_size_phone}}
        {{each.offset_column_phone}}
        {{each.column_size_tablet}}
        {{each.offset_column_tablet}}
        {{each.column_size_laptop}}
        {{each.offset_column_laptop}}
        {{each.column_size_desktop}}
        {{each.offset_column_desktop}}
        ">
            <img style="max-height: 100vh; width: 100%; height: auto; margin: 30px auto 0px auto; max-width: 1200px; display: block; background-color: #ded9d3;" src="/assets/{{each.project_image}}">
        </div>
    {% endfor %}
</div>
