<div class="limitedFull">
    <img class="backgroundEleLarge" style="display: none;" src="https://clever-hugle-2c32c1.netlify.app/assets/{{section.hero_image_lg}}">
    <img class="backgroundEle" src="https://clever-hugle-2c32c1.netlify.app/assets/{{section.hero_image}}">
    <img class="backgroundEleMobile" style="display: none;" src="https://clever-hugle-2c32c1.netlify.app/assets/{{section.hero_image_m}}">
    <img class="backgroundEleTablet" style="display: none;" src="https://clever-hugle-2c32c1.netlify.app/assets/{{section.hero_image_t}}">
</div> 
<div class="" style="padding: 0px; " >
<div class="row">
    <div style="height: 100vh;" class="col-lg-8 col-md-8">
        <img style="width: 75px; height: auto; margin: 20px;" src="/assets/images/icons-04.svg">
        <p style="position: absolute; bottom: 0px; left: 30px; font-size: 45px; color: white;">{{section.project_title}}</p>
    </div>
    <div id="InfoShow" style="height: 100vh; position: relative;" class="col-lg-4 col-md-4">
        <a href="https://clever-hugle-2c32c1.netlify.app/work/">
            <img style="width: 75px; height: auto; margin: 20px; position: absolute; right: 0px;" src="/assets/images/icons-02.svg">
        </a>
        <img id="showInfo" style="width: 75px; height: auto; margin: 20px; position: absolute; bottom: 0px; right: 0px;" src="/assets/images/icons-01.svg">
    </div>
    <div id="InfoHidden" style="height: 100vh; position: relative; background-color: #ded9d3; display: none;" class="col-lg-4 col-md-4">
        <img id="HideInfo" style="width: 75px; height: auto; margin: 20px; float: right;" src="/assets/images/icons-03.svg">
        <div class="clearfix"> </div>
        <p style="font-size: 18px; padding: 20px;">{{section.project_description}}</p>
    </div>
</div>
</div> 