{% capture logo_path %}{{ site.logo }}{% endcapture %}


<div class="row" style="margin-bottom: 75px;">
  <div class="col-sm-3 col-lg-3">
      <a href="{{ '/' | relative_url }}" style="text-decoration: none;">
        <h1 class="logo dark">lo design</h1>
      </a>
  </div>
  <div class="col-sm-9 col-lg-9">
      <nav class="mainNav dark">
          <ul>
              {%- for link in site.data.navigation.main -%}
              <li class="masthead__menu-item">
                <a href="{{ link.url | relative_url }}"{% if link.description %} title="{{ link.description }}"{% endif %}>{{ link.title }}</a>
              </li>
              {%- endfor -%}
          </ul>
      </nav>
  </div>
</div>






