---
layout: default
---
<div class="hero-image" >
  <div class="fluid-container">
  <div class="row">
      <div class="col-sm-3 col-lg-3">
          <h1 class="logo">lo design</h1>
      </div>
      <div class="col-sm-9 col-lg-9">
          <nav class="mainNav">
              <ul>
                  <li><a href="work.html">work</a></li>
                  <li><a href="process.html">process</a></li>
                  <li><a href="about.html">about</a></li>
                  <li><a href="contact.html">contact</a></li>
              </ul>
          </nav>
      </div>
  </div>
  </div>
  </div>